body {
    margin: 0;
    padding: 0;
    cursor: none;
}

.container {
    height: 100vh;
    background-color: #000;
    background-image: url(./dot.png);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-radius: 14px;
    background-color: #5353C3;
    cursor: none;
    user-select: none;
}

.duckCursor {
    position: fixed;
    background-image: url(./duck.png);
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    z-index: 10;
    pointer-events: none;
}

.babyChick {
    position: fixed;
    background-image: url(./babyChick.png);
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    pointer-events: none;
}
