body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    flex-direction: column;
    gap: 40px;
    height: 100vh;
}

[glitch] {
    position: relative;
}

h1 {
    color: #fff;
    margin: 0;
    font-size: 40px;
}

.halfTop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50%;
    overflow: hidden;
}

.halfBottom {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
}

@keyframes glitchParts {
    0% {
        transform: translateX(0px);
    }

    33% {
        transform: translateX(5px);
    }

    66% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0px);
    }
}

.glitched .halfTop {
    animation: glitchParts .2s 0s infinite linear alternate;
}

.glitched .halfBottom {
    animation: glitchParts .3s 0s infinite linear alternate-reverse;
}

.glitched[glitch]::after {
    content: attr(dataText);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    color: #f00;
    z-index: 10;
    animation: glitchParts .3s 0s infinite linear;
}

.glitched[glitch]::before {
    content: attr(dataText);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
    color: #00f;
    z-index: 10;
    animation: glitchParts .3s 0s infinite linear alternate;
}