body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.star {
    position: fixed;
    width: 10px;
    height: 10px;
    background-image: url(./star.svg);
    background-color: #FFBF0050;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 100%;
    box-shadow: 0px 0px 10px #FFBF00;
    opacity: 0;
}

@keyframes flyTopRight {
    0% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    100% {
        opacity: 0;
        transform: translate(50px, -50px);
    }
}

@keyframes flyBottomRight {
    0% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    100% {
        opacity: 0;
        transform: translate(50px, 50px);
    }
}

@keyframes flyBottomLeft {
    0% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    100% {
        opacity: 0;
        transform: translate(-50px, 50px);
    }
}

@keyframes flyTopLeft {
    0% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    100% {
        opacity: 0;
        transform: translate(-50px, -50px);
    }
}

@keyframes flyRight {
    0% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    100% {
        opacity: 0;
        transform: translate(80px, 0px);
    }
}

@keyframes flyLeft {
    0% {
        opacity: 1;
        transform: translate(0px, 0px);
    }

    100% {
        opacity: 0;
        transform: translate(-80px, 0px);
    }
}

.flyTopRight {
    animation: flyTopRight .3s 0s 1 ease-out;
}

.flyBottomRight {
    animation: flyBottomRight .3s 0s 1 ease-out;
}

.flyBottomLeft {
    animation: flyBottomLeft .3s 0s 1 ease-out;
}

.flyTopLeft {
    animation: flyTopLeft .3s 0s 1 ease-out;
}

.flyRight {
    animation: flyRight .3s 0s 1 ease-out;
}

.flyLeft {
    animation: flyLeft .3s 0s 1 ease-out;
}


