body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    background-color: #000;
}

.containerCanvas {
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerCanvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

