body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    position: relative;
    border: none;
    font-size: 18px;
    padding: 0px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    border-radius: 14px;
    background-color: #5353C3;
    width: 166px;
    height: 62px;
}

.buttonContent {
    border-radius: 14px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #5353C3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

@keyframes activeButton {
    0% {
        transform: rotate(0deg) scale(1);
    }

    10% {
        transform: rotate(10deg) scale(.8);
    }

    50% {
        transform: rotate(-10deg) scale(1.1);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}

.active .buttonContent {
    background-color: green;
}

.active button {
    animation: activeButton .7s 0s 1 ease-in-out;
}

.icon {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(0deg);
    transition: all .5s ease-out;
    opacity: 0;
}

.active .icon {
    opacity: 1;
}

.iconSanta {
    background-image: url(./santaClaus.png);
}

.iconTree {
    background-image: url(./christmasTree.png);
}

.iconStar {
    background-image: url(./glowingStar.png);
}

.iconParty {
    background-image: url(./partyPopper.png);
}

.active .iconSanta {
    top: -30px;
    left: calc(50% - 72px);
    transform: rotate(-20deg);
}

.active .iconTree {
    top: -40px;
    left: calc(50% - 48px);
    transform: rotate(-10deg);
}

.active .iconStar {
    top: -40px;
    left: calc(50% - 24);
    transform: rotate(10deg);
}

.active .iconParty {
    top: -30px;
    left: calc(50% + 24px);
    transform: rotate(20deg);
}

.active .container {
    background-color: rgb(189, 56, 56);
    transition: all 1s ease-out;
    background-image: url(./backTree.png);
    background-position: center;
}
