body {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.box {
    cursor: pointer;
    border-radius: 14px;
    background-color: #5353C3;
    width: 160px;
    height: 140px;
}

.rect {
    width: 160px;
    height: 70px;
}

button {
    border: none;
    display: block;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    border-radius: 14px;
    background-color: #5353C3;
}

[ripple="true"] {
    position: relative;
    overflow: hidden;
}

@keyframes ripple {
    0% {
        transform: scale(1);
        opacity: .3;
    }
    
    100% {
        transform: scale(200);
        opacity: 0;
    }
}

.effect {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: #000;
    opacity: .3;
    transform-origin: 55% 50%;
    border-radius: 100%;
    animation: ripple .5s 0s 1 ease-in-out;
}