body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes lightPlanet {
    0% {
        box-shadow: inset 0px 0px 0px #ffffff88;
    }

    100% {
        box-shadow: inset -15px 15px 15px #ffffff88;
    }
}

@keyframes sunrise {
    0% {
        transform: translate(0px, 120px);
    }

    100% {
        transform: translate(50px, 90px);
    }
}

.planet {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: #000;
    z-index: 10;
    box-shadow: inset -15px 15px 15px #ffffff88;
    animation: lightPlanet 3.2s 0s 1 ease-out;
}

.sun {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #fff;
    filter: blur(20px);
    transform: translate(50px, 90px);
    animation: sunrise 3.2s 0s 1 ease-out;
}

