body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.container {
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

h1 {
    background: rgb(95,46,41);
    background: linear-gradient(231deg, rgba(95,46,41,1) 6%, rgba(83,83,195,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 140px;
    margin: 0px;
    text-align: center;
    user-select: none;
}

.glass {
    position: fixed;
    top: 50%;
    left: calc(50% - 75px);
    background-color: #5353C380;
    width: 150px;
    height: 150px;
    border-radius: 14px;
    border-top: 1px solid #ffffff30;
    border-right: 1px solid #ffffff30;
    backdrop-filter: blur(5px);
}
