body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #5353C3;
    border-radius: 14px;
    width: 400px;
    height: 250px;
    border-right: solid 1px #ffffff57;
    border-top: solid 1px #ffffff57;
    transition: all .3s;
}

.depthBox {
    perspective: 1000px;
}

.turnToRight {
    transform: rotate3d(0, 1, 0, 20deg);
    box-shadow: inset -100px 0px 65px #ffffff17;
}

.turnToLeft {
    transform: rotate3d(0, 1, 0, -20deg);
    box-shadow: inset 100px 0px 65px #00000017;
}

