body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    cursor: none;
}

.glass {
    background-color: #5353C380;
    width: 150px;
    height: 75px;
    border-radius: 14px;
    border-top: 1px solid #ffffff30;
    border-right: 1px solid #ffffff30;
    backdrop-filter: blur(4px);
}

.fakeCursor {
    position: absolute;
    z-index: 6;
    background-image: url(./cursor.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
}

