body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.like {
    border: none;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: background .3s;
}

.likeIcon {
    background-image: url(./like.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 48px;
    height: 48px;
}

.liked {
    background-color: #b3b3e6;
}

@keyframes addLike {
    0% {
        transform: scale(1)
            rotate(0deg)
            translateX(0px);
    }

    33% {
        transform: scale(.9)
            rotate(-30deg)
            translateX(-10px);
    }
    
    66% {
        transform: scale(1.1)
            rotate(410deg)
            translateX(5px);
    }
    
    100% {
        transform: scale(1)
            rotate(360deg)
            translateX(0px);
    }
}


.liked .likeIcon {
    animation: addLike 1.3s 0s 1 ease-in-out;
}