body {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sendButton {
    border: none;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    border-radius: 14px;
    background-color: #5353C3;
}

@keyframes send {
    0% {
        transform: translateX(0px) rotate(0deg);
        padding: 20px 40px;
        border-radius: 14px;
        font-size: 18px;
        opacity: 1;
    }

    10% {
        transform: translateX(0px) rotate(0deg);
        padding: 20px 40px;
        border-radius: 14px;
        font-size: 18px;
        opacity: 1;
    }

    20% {
        transform: translateX(0px) rotate(0deg);
        padding: 6px 16px;
        border-radius: 8px;
        font-size: 12px;
        opacity: 1;
    }

    30% {
        transform: translateX(0px) rotate(0deg);
        padding: 10px 20px;
        border-radius: 8px;
        font-size: 12px;
        opacity: 1;
    }

    40% {
        transform: translateX(-6px) rotate(-6deg);
        padding: 10px 20px;
        border-radius: 8px;
        font-size: 12px;
        opacity: 1;
    }

    50% {
        transform: translateX(150px) rotate(0deg);
        padding: 10px 20px;
        border-radius: 8px;
        font-size: 12px;
        opacity: 0;
    }

    60% {
        transform: translateX(0px) rotate(0deg);
        padding: 20px 40px;
        border-radius: 14px;
        font-size: 18px;
        opacity: 0;
    }

    100% {
        transform: translateX(0px) rotate(0deg);
        padding: 20px 40px;
        border-radius: 14px;
        font-size: 18px;
        opacity: 1;
    }
}

.sendEffect {
    animation: send 1.5s 0s 1 ease-in-out;
}