body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.container {
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    background: rgb(95,46,41);
    background: linear-gradient(231deg, rgba(95,46,41,1) 6%, rgba(83,83,195,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 80px;
    margin: 0px;
    text-align: center;
}

.glass {
    background-color: #5353C380;
    width: 150px;
    height: 150px;
    border-radius: 14px;
    border-top: 1px solid #ffffff30;
    border-right: 1px solid #ffffff30;
    backdrop-filter: blur(5px);
}

@keyframes moveToTop {
    0% {
        transform: translate(0px, 0px);
    }

    80% {
        transform: translate(110px, 110px);
    }

    100% {
        transform: translate(100px, 100px);
    }
}

@keyframes moveToBottom {
    0% {
        transform: translate(0px, 0px);
    }

    80% {
        transform: translate(-110px, -110px);
    }

    100% {
        transform: translate(-100px, -100px);
    }
}

.glassTop {
    transform: translate(100px, 100px);
    animation: moveToTop 1.3s 0s 1 ease-in-out;
}

.glassBottom {
    transform: translate(-100px, -100px);
    animation: moveToBottom 1.3s 0s 1 ease-in-out;
}