body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

button {
    border: none;
    display: block;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    border-radius: 14px;
    background-color: #5353C3;
    position: relative;
}

.snowfallLayer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 1s;
    opacity: 1;
}

.snowfallHidden {
    opacity: 0;
}

@keyframes fall {
    0% {
        opacity: 0;
        transform: translate(0px, 0px)
            rotate(0deg);
    }
    20% {
        opacity: 1;
        transform: translate(-10px, 40px)
            rotate(60deg);
    }
    40% {
        opacity: 1;
        transform: translate(-10px, 80px)
            rotate(120deg);
    }
    60% {
        opacity: 1;
        transform: translate(10px, 120px)
            rotate(180deg);
    }
    80% {
        opacity: 1;
        transform: translate(10px, 160px)
            rotate(240deg);
    }
    100% {
        opacity: 0;
        transform: translate(0px, 200px)
            rotate(300deg);
    }
}

.snowflake {
    width: 10px;
    height: 10px;
    background-image: url(./snowflake.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    animation: fall 15s 0s infinite linear;
}
