body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./dot.png);
    background-position: center;
}

button {
    border: none;
    display: block;
    padding: 20px 40px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    border-radius: 14px;
    background-color: #5353C3;
    position: relative;
}

@keyframes showToast {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    60% {
        opacity: 1;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toast {
    position: fixed;
    top: 200px;
    left: calc(50% - 75px);
    width: 150px;
    height: 50px;
    border-radius: 8px;
    background-color: #9e53c380;
    backdrop-filter: blur(3px);
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: #ffffff88;
    border-top: 1px solid #ffffff17;
    border-right: 1px solid #ffffff17;
    opacity: 1;
    transform: translateX(0);
    transition: all .5s linear;
    animation: showToast .6s 0s 1 ease-out;
}

.hideToast {
    transform: translateX(-50px);
    opacity: 0;
}