body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

h2 {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(90deg, #5353C3, #9c4e4e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    perspective: 500px;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateX(-60px)
            rotate3d(0, 1, 0, -45deg);
    }
    
    100% {
        opacity: 1;
        transform: translateX(0px)
            rotate3d(0, 1, 0, 0deg);
    }
}

.animatedAppear {
    animation: appear 1.2s 0s 1 ease-in-out;
}